{% extends 'base.html' %}

{% block content %}
<div class="containter-fluid p-5">
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('admin_login') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="btn">Login</button>
    </form>
</div>
{% endblock %}