{% extends 'base.html' %}

{% block content %}
<!-- admin_panel.html -->

<div class="container-fluid my-5">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <h1>Admin Panel</h1>

    <h2>Users</h2>
    <table style="border-spacing: 10px;  border-collapse: separate; ">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_user', user_id=user.id) }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Products</h2>
    <table style="border-spacing: 10px;   border-collapse: separate;">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Object</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.object }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_product', product_id=product.id) }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Reviews</h2>
    <table style="border-spacing: 10px;  border-collapse: separate;">
        <thead>
            <tr>
                <th>Review ID</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>User ID</th>
                <th>Product ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.comment }}</td>
                <td>{{ review.user_id }}</td>
                <td>{{ review.product_id }}</td>
                <td>
                    <form method="POST" action="{{ url_for('deleting_review', review_id=review.id) }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}