<style>
    /* override Bootstrap's container */

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto
    }

    h1 {
        text-align: center;
        margin: 1rem;
        height: 5%;
    }

    form {
        font-size: 1rem;
    }

    .form-control {
        color: white;
        background: rgb(99, 173, 242);
        background: -moz-radial-gradient(circle, rgba(99, 173, 242, 1) 0%, rgba(48, 77, 109, 1) 100%);
        background: -webkit-radial-gradient(circle, rgba(99, 173, 242, 1) 0%, rgba(48, 77, 109, 1) 100%);
        background: radial-gradient(circle, rgba(99, 173, 242, 1) 0%, rgba(48, 77, 109, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63adf2", endColorstr="#304d6d", GradientType=1);
        border-radius: 10px;
        height: 70%;
    }
</style>
{% extends 'base.html' %}
<!-- template index page and search all products with reviews -->
{% block content %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center" id="page">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div id="particles">
        <div id="intro">
            <h1>FEEDBACK &amp; REVIEW!</h1>
            <h3>Empowering customers to share their opinions and experiences on all products</h3>
            <form method="POST" class="d-flex center" role="search">
                {{ form.csrf_token }}
                {{ form.search(class_="form-control me-1", placeholder="Search", aria_label="Search") }}
                <button class="btn btn-primary" type="submit">
                    <i class="ri-search-eye-line"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="search-results bg-info-subtle">
        {% if search_results %}
        {% for product in search_results %}
        <div class="product">
            <h4>{{ product.name }}</h4>
            <p>Product Type: {{ product.type }}</p>
            <p>Product Object: {{ product.object }}</p>

            <p>Rating: {{ product.rating }}</p>
            <p>Comment: {{ product.comment }}</p>
            <p>Image URL: {{ product.image_url }}</p>

        </div>
        {% endfor %}
        {% elif form.search.data %}
        <p>No results found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}