{% extends 'base.html' %}

{% block content%}
<!-- logout admin -->
<div class="container-fluid d-flex flex-column justify-content-center align-items-center" id="page">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
    <h1>bye </h1>
    <h3> </h3>

</div>
{% endblock%}